<ion-header>

</ion-header>

<ion-content>
  <div class="body">
    <div class="principal-container">
      <div class="container bootstrap snippets bootdey">
        <div class="row">
          <div class="col-md-4">
            <img class="img-home img-thumbnail" src="assets/img/ELEVEN_JEANS_Logotipos.png">
          </div>
          <div class="col-md-7 form-content">
            <h1 class="title">Recuperar Contraseña</h1>
            <br>
            <form class="form-horizontal">
              <div class="form-group">
                <h4 class="col-sm-2" style="color: white;">Usuario</h4>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Ingresar Usuario">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12" style="text-align: right;">
                  <button type="submit" class="btn btn-primary">Enviar Correo</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" style="padding-left: 10px;">
    <ion-title slot="end" style="font-weight: 900; text-align: right;">APD</ion-title>
  </ion-toolbar>
</ion-footer>