<ion-content id="home">

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
  <div class="intro-header">
    <div class="col-xs-12 text-center abcen1" style="text-align: right;">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s" style="color: black;">ELEVEN JEANS</h1>
    </div>
  </div>

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Eleven Jeans</a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="menuItem"><a>Sobre nosotros</a></li>
          <li class="menuItem"><a>Contáctanos</a></li>
          <li class="menuItem"><a (click)="login()">Iniciar Sesión</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- Use it -->
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-responsive " src="assets/img/imagen1.jpg">
        </div>
        <div class="col-sm-6">
          <h3>GRAN ESTILO</h3>
          <p class="lead">
            SIN IMPORTAR LA EDAD. Checa los nuevos estilos que tenemos para el hombre de la casa.
          </p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>

  <div class="content-section-b">

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="assets/img/imagen2.jpg" alt="">
        </div>

        <div class="col-sm-6">
          <h3 class="section-heading">LOS MEJORES MODELOS</h3>
          <p class="lead">
            En ELEVEN JEANS encontrarás los mejores modelos.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">

    <div class="container">

      <div class="row">

        <div class="col-sm-6">
          <img class="img-responsive " src="assets/img/imagen3.jpg" alt="">
        </div>

        <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">LOS MEJORES PRECIOS</h3>
          <p class="lead">Aquí encontrarás los precios más accesibles.</p>
        </div>
      </div>
    </div>

  </div>


  <!-- Credits -->
  <div id="credits" class="content-section-a">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2>SOBRE NOSÓTROS</h2>
        </div>

        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box-icon rotate">
              <img src="assets/img/mision.png" alt="">
            </div>
            <div class="col-md-8 box-ct">
              <h3> MISIÓN</h3>
              <p style="text-align: justify;"> SATISFACER LAS NECESIDADES Y EXPECTATIVAS EN GUSTOS DE NUESTROS CLIENTES CONTRIBUYENDO DE MANERA DIRECTA CON LA SOCIEDAD BENEFICIANDO A NUESTRO CONSUMIDORES, LES LLEVAMOS LA MEJOR CALIDAD, PRECIO Y SERVICIO A NUESTROS CLIENTES ASÍ APOYAMOS AL ÉXITO COMERCIAL.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box-icon rotate">
              <img src="assets/img/vision.png" alt="">
            </div>
            <div class="col-md-8 box-ct">
              <h3> VISIÓN </h3>
              <p style="text-align: justify;"> SER LA EMPRESA LÍDER EN DISTRIBUCIONES Y VENTA DE PANTALONES PARA CABALLEROS, CONTANDO CON LOS MEJORES PRECIOS DEL MERCADO NACIONAL.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row tworow">
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box-icon rotate">
              <img src="assets/img/diamante.png" alt="">
            </div>
            <div class="col-md-8 box-ct">
              <h3> VALORES </h3>
              <p style="text-align:justify;">LIDERAZGO, RESPONSABILIDAD, HONESTIDAD, INTEGRIDAD, PASIÓN Y CALIDAD.p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <div class="col-md-4 box-icon rotate">
              <img src="assets/img/objetivo.png" alt="">
            </div>
            <div class="col-md-8 box-ct">
              <h3> OBJETIVO</h3>
              <p style="text-align: justify;">EL PROPÓSITO DE ELEVEN JEANS ES PARTICIPAR EN EL ESTILO DE LA VIDA COTIDIANA DE NUESTROS CLIENTES, HACIENDO DE CADA MOMENTO DE SU DIA, UN MOMENTO ELEVEN JEANS.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Contact -->
  <div id="contact" class="content-section-b">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h3>CONTACTÁNOS</h3>
        </div>

        <form role="form" action="" method="post">
          <div class="col-md-6">
            <div class="form-group">
              <label for="InputName">Ingresa tu Nombre</label>
              <div class="input-group">
                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nombre"
                  required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label for="InputEmail">Ingresa tu Email</label>
              <div class="input-group">
                <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email"
                  required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label for="InputMessage">Mensaje</label>
              <div class="input-group">
                <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>
            <div class="col-sm-12" style="text-align: right;">
              <button class="btn btn-md btn-success">Enviar</button>
            </div>
          </div>
        </form>

        <hr class="featurette-divider hidden-lg">
        <div class="col-md-5 col-md-push-1 address">
          <address>
            <h3>Lozalización</h3>
            <p class="lead"><a
                href="https://www.google.com.mx/maps/place/R%C3%ADo+Salado+1385,+Magdalenas,+27010+Torre%C3%B3n,+Coah./@25.5695915,-103.4207341,17z/data=!3m1!4b1!4m5!3m4!1s0x868fda4fb23bd691:0x96e594cdf079692f!8m2!3d25.5695867!4d-103.4185454?shorturl=1">Rio Salado #1227<br>
               Magdalenas 27010, Torreón Coahuila</a><br>
              Teléfono: 87-11-89-35-44<br>
          </address>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" style="padding-left: 10px;">
    <ion-title slot="end" style="font-weight: 900; text-align: right;">APD 2.0.1</ion-title>
  </ion-toolbar>
</ion-footer>